service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
    match /orders/{orderId} {
      allow read, update, delete: if request.auth != null && isOwner(resource.data.user, request.auth.uid);
      allow create: if request.auth != null;
    }
    match /addresses/{addressId} {
      allow read, update, delete: if request.auth != null && isOwner(resource.data.user, request.auth.uid);
      allow create: if request.auth != null;
    }
    match /bookings/{bookingId} {
      allow read, create, update, delete: if request.auth != null && isOwner(resource.data.user, request.auth.uid);
      allow create: if request.auth != null;
    }
    match /transactions/{transactionId} {
      allow read: if request.auth != null && isOwner(resource.data.user, request.auth.uid);
    }
    match /boxes/{doc} {
     allow read: if true;
 		}
    match /awards/{doc} {
     allow read: if true;
 		}
    match /awardCategories/{doc} {
     allow read: if true;
 		}
    match /brands/{doc} {
     allow read: if true;
 		}
    match /categories/{doc} {
     allow read: if true;
 		}
    match /products/{doc} {
     allow read: if true;
 		}
  }
  function isOwner(owner, userId) {
  	return path('/databases/(default)/documents/users/' + userId) == owner;
	}
  function isVerifiedUser(userId) {
    return true;
//  	return debug(get(/databases/$(database)/documents/users/$(userId)).data.status) == 'approved';
  }
}
