<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqW18IzOOJp2ZJdOxmKDLeRbEPZXJgwjU</string>
	<key>GCM_SENDER_ID</key>
	<string>33742659330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.claris.app</string>
	<key>PROJECT_ID</key>
	<string>claris-c1821</string>
	<key>STORAGE_BUCKET</key>
	<string>claris-c1821.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33742659330:ios:76ff5d8b0e00052580ec1b</string>
</dict>
</plist>